<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Account Deletion Notifier, <%= @user.full_name %></h1>
    <p>
      Your account has been deleted from our records <br/>
    </p>
  </body>
</html>